<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Secube, İzmir</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Digilera, İstanbul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->