<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->


                <div class="item">
                    <span class="project-title"><a href="https://github.com/guvenozgur/KinexonTask" target="_blank">Kinexon Task</a></span> - <span class="project-tagline"> Pre interview task with tech stack NodeJS, Express, NextJS, React, Docker, Python, fastAPI </span>
                </div>

                <div class="item">
                    <span class="project-title"><a href="https://github.com/guvenozgur/VivooLib" target="_blank">Vivoo Lib</a></span> - <span class="project-tagline"> Pre interview task with tech stack javascript, NodeJS, MongoDB, Redis, Sinon, Mocha, Chai, Docker  </span>
                </div>

                <div class="item">
                    <span class="project-title"><a href="https://github.com/guvenozgur/mancala" target="_blank">Mancala Game</a></span> - <span class="project-tagline"> Pre Interview Task with tech stack NodeJS, Redis, MongoDB, React, Redux, Typescript, Mocha, Sinon, Socketio, Express </span>
                </div>
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Edu-Voting" target="_blank">Edu-Voting</a></span> - <span class="project-tagline">An e-voting system that was developed for kiosks. This project was developed in the scope of Advanced Asymmetrical Crypto Systems course. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/guvenozgur/GBYF2015-Degerlendirme-Sistemi" target="_blank"> Evaluation System for GBYF </a></span> -
                    <span class="project-tagline"> A web application that was used for evaluating competitors of GBYF. </span>
                </div><!--//item-->
                
                 

                <div class="item">
                    <span class="project-title">Forensic on NTFS</span> - <span class="project-tagline"> An desktop application for extracting MFT records from NTFS drives. Besides, it recovers files which have small file size.</span>
                    
                </div><!--//item-->
                
                
            </section><!--//section-->