 <div class="education-container container-block">
<h2 class="container-block-title">References</h2>
<div class="item">
    <h4 class="degree">Prof. Dr. Murat Erten</h4>
    <h5 class="meta">Email: muraterten@iyte.edu.tr</h5>
    <div class="time">Phone: 02327507861</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Asst. Prof. Dr. Serap Şahin</h4>
    <h5 class="meta">Email: serapsahin@iyte.edu.tr </h5>
    <div class="time">Phone: 0232 750 7871</div>
</div><!--//item-->
</div><!--//education-container-->