<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>References</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Prof. Dr. Murat Erten</h3>
                            <div class="time">Email: muraterten@iyte.edu.tr </div>
                        </div><!--//upper-row-->
                        <div class="company">Phone: 0232 750 7861</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Asst. Prof. Dr. Serap Şahin</h3>
                            <div class="time">Email: serapsahin@iyte.edu.tr </div>
                        </div><!--//upper-row-->
                        <div class="company">Phone: 0232 750 7871</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
              
                
            </section><!--//section-->