<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profil.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Guven Ozgur{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Computer Engineer{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:gwenozgur@gmail.com">gwenozgur@gmail.com</a></li>
                    {% endif %}
                                        
                    {% if site.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">linkedin.com/in/{{site.linkedin}}</a></li>
                    {% else %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/h%C3%BCseyin-g%C3%BCven-%C3%B6zg%C3%BCr-807b4769/" target="_blank">linkedin.com/in/sharathdt</a></li>
                    {% endif %}
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/guvenozgur" target="_blank">github.com/guvenozgur</a></li>
                    {% endif %}
                    
                    {% if site.twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
                    {% else %}
                     <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/gwenozgur" target="_blank">@gwenozgur</a></li>
                    {% endif %}

                    {% if site.instagram %}
                    <li class="instagram"><i class="fa fa-instagram"></i><a href="https://instagram.com/{{site.instagram}}" target="_blank">{{site.instagram}}</a></li>
                    {% else %}
                     <li class="instagram"><i class="fa fa-instagram"></i><a href="https://instagram.com/gwenozgur" target="_blank">@gwenozgur</a></li>
                    {% endif %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
        
            
        </div><!--//sidebar-wrapper-->
